$fs_tiny: 10px;
$fs_caption: 12px;
$fs_body: 14px;
$fs_lead: 16px;
$fs_h4: 20px;
$fs_h3: 24px;
$fs_h2: 32px;
$fs_h1: 48px;
$fs_hero: 80px;
$fs_super: 112px;

$fw_normal: 400;
$fw_medium: 500;
$fw_bold: 600;
$fw_bolder: 700;


$space_ti: 4px;
$space_mi: 8px;
$space_xs: 12px;
$space_sm: 16px;
$space_st: 20px;
$space_md: 24px;
$space_lg: 32px;
$space_xl: 36px;
$space_xxl: 40px;

