@import "./variables";
@import "./utilities";
@import "~bulma-timeline";

:root, body {
  font-size: $fs_body !important;
}

.th-wrap {
  font-size: $fs_lead;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 60px;
}

.button.is-danger{
  background-color: $danger !important;
}

.modal {
  .modal-card-head, .modal-card-foot {
    background: #fff;
  }
}

.dialog {
  .media-left {
    margin-right: 12px;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-top: 1px;
    i {
      &:before {
        font-size: 24px;
      }
    }
  }
}

.navbar-dropdown {
  .navbar-item {
    padding: 1em !important;
  }
}

.navbar-item { 
  &:not(.logo) {
    color: $light;
  }
  &:hover {
    color: $black !important;
  }
  &:not(:first-child) {
    padding-left: 20px;
  }
}

.nav-dropdown {
  .navbar-link{
    &:after {
      border-color: $light;
      border-width: 2px;
    }
    &:hover {
      &:after {
        border-color: $primary;
      } 
    }
  }
}

.navbar-menu{
  margin-left: 50px;
}

.router-link-active, .router-link-active:hover{
  color: $light !important;
}
.router-link-exact-active, .router-link-exact-active:hover{
  color: $black !important;
  background-color: #f8f8fb;
}

.navbar-brand{
  .navbar-item {
    padding-left: 0;
    background: none !important;
    color: $black !important;
  }
}


table {
  a {
    color: $primary !important;
    &:hover {
      color: #1746ab !important;
    }
  }
}



.navbar {
  padding: 0 150px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
  z-index: 2 !important;
}

.wrapper {
  padding: $space_xxl 230px;
  overflow: auto;
}
.collection-detail-body {
  .navbar-secondary {
    position: sticky !important;
    top: 0;
    box-shadow: none !important;
  }
}
.navbar-secondary  {
  color: $black !important; 
  box-shadow: none !important;
  &.is-warning {
    border: 1px solid #eae6c3;
  }
  &.is-info {
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
  }
}

.logo {
  font-size: $fs_h4;
  font-weight: 600;
  color: #4a4a4a !important;
  &__ {
    &img {
      margin-right: $space_sm;
    }
  }
}

.upload {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &-draggable {
    width: 100%;
  }
}

.collection {
  &__ {
    &profile {
      display: flex;
      align-items: center;
      &:hover {
        color: $primary;
      }
    }
    &img {
      margin-right: $space_ti;
    }
    &name {
      font-size: $fs_body;
      &:hover {
        text-decoration: underline;
      }
    }
    &desc {
      font-size: $fs_caption;
    }
  }
}

.modal-card-foot {
  justify-content: flex-end !important;
}

.modal .animation-content .modal-card {
  margin: 0 auto;
}

.router-link-active {
  color: #1746ab;
}

.button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;

  &:focus,
  .is-focused {
    color: #fff !important;
  }
}

.panel {
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  &-{
    &block, &heading{
     border: 0 !important;
    }
  }
}

.brach-nav {
  .panel-heading {
    font-weight: 500;
    font-size: 16px;
  }
  .tab-content {
    padding-left:0;
  }
}
.brach-nav{
  li a {
    padding: $space_ti $space_sm;
    font-size: $fs_body;
  }
  .panel-block {
    cursor: auto;
    &:not(:last-child) {
      border-bottom: 1px solid #dbdbdb !important;
    }
    &:hover {
      background: none !important;
    }
  }
}
